/venv/
/.idea/
/GAN/dataset/
/Feodosii/
/DCGAN/MNIST_img/
/DCGAN/celeb_dataset/
/feodosii2/
/conditional_dcgan/MNIST_img/
/Pix2Pix/maps/
/Pix2Pix/examples/
/Pix2Pix/discriminator_model.pth
/Pix2Pix/generator_model.pth
/MADMO_1st_Homework/data/
/MADMO_1st_Homework/model.pth
/MADMO_2nd_homework/merged_data/
/MADMO_2nd_homework/cancer_dataset/
/MADMO_2nd_homework/inception.pth
/MADMO_2nd_homework/vgg16.pth
