/venv/
/.idea/
/GAN/dataset/
/Feodosii/
/DCGAN/MNIST_img/
/DCGAN/celeb_dataset/
/feodosii2/
/conditional_dcgan/MNIST_img/
/Pix2Pix/maps/
/Pix2Pix/examples/
/Pix2Pix/discriminator_model.pth
/Pix2Pix/generator_model.pth
/MADMO_1st_Homework/data/
/MADMO_1st_Homework/model.pth
/MADMO_2nd_homework/merged_data/
/MADMO_2nd_homework/cancer_dataset/
/MADMO_2nd_homework/inception.pth
/MADMO_2nd_homework/vgg16.pth
/Professional/shtrih_codes/ABBYY_dataset.zip
/ObjectDetection/dataset/
/detection2/yolov2.weights
/MADMO_Project/merged/
/SRGAN/finished/
/SRGAN/dataset-upload-to-kaggle/
/SRGAN/archive.zip
/compleete_vkr/finished_dataset/
/compleete_vkr/color_density/dataset_test/
/compleete_vkr/color_density/dataset_train/
/compleete_vkr/color_density2/archive (8).zip
/compleete_vkr/color_density/examples_bad/
/compleete_vkr/color_density/examples_orig/
/compleete_vkr/color_density/examples_nn/
/compleete_vkr/color_density/save_models/
/compleete_vkr/color_density2/archive (3).zip
/compleete_vkr/color_density2/temp.jpeg
/compleete_vkr/color_density2/save_models.pth_0.pth
/compleete_vkr/color_density2/pr_data/
/compleete_vkr/color_density2/examples_orig/
/compleete_vkr/color_density2/maps/
/compleete_vkr/color_density2/examples_bad/
/compleete_vkr/color_density2/examples_nn/
/compleete_vkr/color_density2/save_models/
/compleete_vkr/color_density2/test_set/
/compleete_vkr/color_density2/training_set/
/compleete_vkr/color_density/archive (3).zip
/compleete_vkr/color_density/test_set/
/compleete_vkr/color_density/training_set/
/compleete_vkr/color_density/pr_dataset/
/compleete_vkr/benchmarks/jpeg/classificator.pth
/compleete_vkr/benchmarks/jpeg/temp.jpeg
/compleete_vkr/benchmarks/jpeg/cats_bad/
/compleete_vkr/benchmarks/jpeg/cats_orig/
/compleete_vkr/benchmarks/jpeg/cats_refactored/
/compleete_vkr/benchmarks/jpeg/dogs_bad/
/compleete_vkr/benchmarks/jpeg/dogs_orig/
/compleete_vkr/benchmarks/jpeg/dogs_refactored/
/compleete_vkr/benchmarks/color_density2/cats_bad/
/compleete_vkr/benchmarks/color_density2/cats_refactored/
/compleete_vkr/benchmarks/color_density2/dogs_bad/
/compleete_vkr/benchmarks/color_density2/cats_orig/
/compleete_vkr/benchmarks/color_density2/dogs_orig/
/compleete_vkr/benchmarks/color_density2/dogs_refactored/
/compleete_vkr/benchmarks/color_density/dogs_bad/
/compleete_vkr/benchmarks/color_density/cats_orig/
/compleete_vkr/benchmarks/color_density/cats_refactored/
/compleete_vkr/benchmarks/color_density2/
/compleete_vkr/benchmarks/color_density/cats_bad/
/compleete_vkr/benchmarks/color_density/dogs_refactored/
/compleete_vkr/benchmarks/color_density/dogs_orig/
/compleete_vkr/benchmarks/jpeg/cats_orig/
/compleete_vkr/benchmarks/jpeg/cats_bad/
/compleete_vkr/benchmarks/jpeg/dogs_bad/
/compleete_vkr/benchmarks/jpeg/cats_refactored/
/compleete_vkr/benchmarks/jpeg/dogs_orig/
/compleete_vkr/benchmarks/jpeg/dogs_refactored/
/compleete_vkr/benchmarks/jpeg/pix2pix_gen_90.pth
/compleete_vkr/archive (3).zip
/detection2/1234_yolo3..jpg
/detection2/res.jpg
/compleete_vkr/dataset/
